*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px 30px;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: end;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* for sections*/
.content {
    margin-top: 10px;
    background-image: url("./Image/header.pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    gap: 20px;
    

}
.B0X nav{

    display: flex;
    text-align:start;
    margin: 20px 10px;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap:30px;

}
.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap:30px;

}
.link nav{
    display: flex;
    text-align:start;
    margin: 20px 10px;

}

.Box1 nav {
    display: flex;
    text-align:start;
    margin: 20px 10px;

}
.content>.btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 24px;
    background-color: #4033f2b8;
    font-size: 0.7rem;;
    gap: 10px;

}
.content>.home{
    margin-bottom: 40px;
    margin-top: 1px;
    font-size: 1.0rem;
    
}

.content p{
    font-size: 1.5rem;
}

.content2 {
   margin-top: 30px;
   padding: 10px;
   
}

.content2 p {
    font-size:1.5rem ;

}

.Box6 {
        background-color: rgb(0, 76, 255);
        border-top-left-radius: 20%;
        text-align:center;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=button] {
    width: 19%;
    color: rgb(42, 69, 239);
    font-weight: 550;
    border-radius: 10px ;
    border-color:rgb(42, 69, 239) ;
    box-sizing: inherit;
    
}
